@charset "UTF-8";

/* Em HTML o id == Css # (Para um único elemento)
Em HTML class == Css .   (Para vários elementos)
*/

body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(255, 172, 71);
}

h1#principal {
    text-align: center;
    background-color: rgb(205, 214, 221);
}

h2 {
    color: rgb(180, 121, 50)
}

.basico {
    color: rgb(167, 180, 50)
}

.intermediario {
    color: rgb(50, 117, 180)
}

.avancado {
    color: rgb(180, 113, 50)
}