@charset "UTF-8";

@media screen and (min-width: 992px) {
    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}