@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

html body {
    background-color: antiquewhite;
}

header {
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

#burguer {
    background-color: rgb(41, 38, 38);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
}


menu {
    display: block;
}

menu > ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(82, 80, 80);
    color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.600);
}
menu a:hover {
    background-color: rgba(151, 149, 149, 0.74);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}