@charset "UTF-8";

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 8px;
}

.caixa1{
    background-color: red;
    grid-row: 1 / 2;
    /* grid-row-start: 1;
    grid-row-end: 2; */
    grid-column: 1 / 5;
    /* grid-column-start: 1;
    grid-column-end: 5; */
}

.caixa2{
    background-color: green;
    grid-row: 2 / 4;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-column: 1 / 3;
    /* grid-column-start: 1;
    grid-column-end: 3; */
}

.caixa3{
    background-color: blue;
    grid-row: 2 / 4;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-column: 3 / 5;
    /* grid-column-start: 3;
    grid-column-end: 5; */
}

