@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 3px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1.3fr 1fr 6.2fr 1fr;
    grid-template-columns: 2fr 0.5fr;
    gap: 3px;
}

.item1 {
    background-color: red;
    grid-area: 1 / 1 / 2 / 3;
}

.item2 {
    background-color: blue;
    grid-area: 2 / 1 / 3 / 3;
}

.item3 {
    background-color: green;
    grid-area: 3 / 1 / 4 / 2;
}

.item4 {
    background-color: yellow;
    grid-area: 3 / 2 / 4 / 3;
}

.item5 {
    background-color: purple;
    grid-area: 4 / 1 / 5 / 3;
}

.item1, .item2, .item3, .item4, .item5 {
    border: 2px solid black;
}