@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

@font-face{
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor1: #83e1ad;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1F517';
}

main p {
    margin: 15px 0px;
    text-align: var(--fonte-padrao);
    text-indent: 30px;
    line-height: 1.5em;
}

main h2 {
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
    border-radius: 7px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px black;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px black;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px black;
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
}

main img {
    width: 100%;
}

main img.pequeno {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0px 0px 15px 0px;
}

div.video::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

div.video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


aside {
    background-color: var(--cor3);
    border-radius: 7px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.575);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2705\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}