@charset "UTF-8";

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


h1 {
    color: rgb(189, 202, 0);

}


h2 {
    color: black;

}


p {
    text-align: justify;

}