@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F04000, #802200);

}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1 {
    color: #521600;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

h2 {
    color: #CC3600;
}


p {
    text-align: justify;
}