@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: blanchedalmond;
    padding: 3px;
    box-shadow: 3px 5px 4px black;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav a:hover {
    text-decoration: underline;
}


main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

article {
    background-color: aliceblue;
    padding: 5px;
}

article > aside {
    background-color: blanchedalmond;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}